*{
    /* background-color: rgb(239, 255, 255); */
    font-family: 'Poppins', sans-serif; 
    margin: 0;
}

h1{
    font-size: 45px;
    
}

.name{
    

    text-transform:uppercase;
    color:orange;
}
.h3{
    font-size: 18px;
    text-transform:uppercase;
    color: rgb(33, 189, 59);
}
    

.half-width{
    
    width: 40%;
    float:  right;
    margin-left: 5%;
    padding: 2%;
}

.half-width img {
    width: 100%;
}

.top-banner{
    border: 1px rgb(71, 8, 8);
    
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
}

.dream-area{
    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    background-position:right  ;
}